<div class="lockscreen-wrapper">
      <div class="lockscreen-logo">
        <span><b>POS</b>Restorant</span>
      </div>

    <div style="text-align: center; margin-bottom:50px;">
        <h3>Ingresa tu Código de Garzon</h3>
    </div>



      <!-- START LOCK SCREEN ITEM -->
      <div class="lockscreen-item">
        <!-- lockscreen image -->
          <div class="lockscreen-image">
              <div style="width:70px; height:70px;">
          <i style="font-size:34px; margin:20px;" class="fa fa-cutlery"></i>
                  </div>
        </div>
        <!-- /.lockscreen-image -->

        <!-- lockscreen credentials (contains the form) -->
        <form class="lockscreen-credentials">
          <div class="input-group">
            <input type="password" class="form-control" placeholder="password">
            <div class="input-group-btn">
              <a href="#/Mesas" class="btn"><i class="fa fa-arrow-right text-muted"></i></a>
            </div>
          </div>
        </form><!-- /.lockscreen credentials -->

      </div><!-- /.lockscreen-item -->
      
      <div class="lockscreen-footer text-center" style="margin-top:30px;">
        Copyright © 2014-2015 <b><a href="http://almsaeedstudio.com" class="text-black">Almsaeed Studio</a></b><br>
        All rights reserved
      </div>
    </div>